.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 32px;
}

.navbar__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
